[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
counter_dapp = "Gs88iGv4WFEC8zfTBRnpDqP895o61BKzyFbdWNtHtFuy"

[programs.devnet]
counter_dapp = "Gs88iGv4WFEC8zfTBRnpDqP895o61BKzyFbdWNtHtFuy"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
